$ThemePrimeryColor: #00a99d;
.lcaBody {
  width: 100%;
  .filterBar_1536 {
    padding: 15px 8px;
  }
  .filterBar_1396 {
    padding: 10px 8px;
  }
  .filterBarAndTableBorder {
    margin: 10px 25px 0 25px;
    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;

    .filterBar {
      h2 {
        color: $ThemePrimeryColor;
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .filterBtns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;

      .btnAndText {
        cursor: pointer;

        .btnBackGround {
          background-color: $ThemePrimeryColor;
          min-width: 100px;
          max-width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          height: 32px;
          color: #fff;
          padding: 2px 10px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 500;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .tableData {
    margin: -2px 25px 0 25px;

    .noData {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }
  .Actions {
    display: flex;
    gap: 8px;
    align-items: center;
    div {
      width: 18px;
      height: 18px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Modal Box */
.delmsg {
  font-size: 22px;
  text-align: center;
  color: #686766;
  margin: 0;
}

.modalBtnSec {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.cancelBtn {
  background-color: #808080 !important;
  border: 1px solid #808080 !important;
}

.addBtn {
  background-color: $ThemePrimeryColor !important;
  border: 1px solid $ThemePrimeryColor !important;
}

/*Filters designs............................................*/
.filterFields {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin: 0 25px 5px 25px;
  padding: 5px 8px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;

  .filterField {
    width: 18%;
    display: flex;
    flex-wrap: wrap;

    label {
      margin-bottom: 5px;
      color: $ThemePrimeryColor;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      padding: 2px 5px 4px 5px;
      font-size: 12px;
      width: 100%;
      border: 1px solid $ThemePrimeryColor;
      border-color: $ThemePrimeryColor;
      height: 32px;
    }

    button {
      background: $ThemePrimeryColor;
      border: 1px solid $ThemePrimeryColor;
    }

    .refresh {
      background-color: #fff;
      color: $ThemePrimeryColor;
      border-radius: 6px;
      min-width: 40px;
      padding: 0;
    }

    .refresh:hover {
      color: #fff;
      background-color: $ThemePrimeryColor;
    }
  }
}

.formPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 45vh;
  overflow: auto;

  .firstPage {
    width: 33.3%;
    padding: 5px 10px 5px 0;
  }

  .secondPage {
    width: 33.3%;
    padding: 5px 0 5px 10px;
  }

  .thirdPage {
    width: 33.3%;
    padding: 5px 0 5px 10px;
  }

  .allField {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 15px 0;
    position: relative;

    label {
      width: 32%;
      text-align: end;
      font-size: 14px;
      font-weight: 500;
    }

    input {
      padding: 5px;
      font-size: 12px;
      width: 70%;
      border-color: $ThemePrimeryColor;
      border-radius: 6px;
      height: 30px;
      color: #000;
      background: #fff;
    }

    .dropDown {
      font-size: 12px;
      width: 70%;
      border-radius: 6px;
      height: 32px;
      color: #000;
      background: #fff;
      border-left-width: 3.5px !important;
      border-left-color: red !important;
    }

    .dropDownDisabled {
      border-color: #afafaf;
    }

    .drpDown {
      border-color: #00a99d;
    }

    .inputRequired {
      border-left-width: 3.5px;
      border-left-color: red;
      border-radius: 6px;
    }

    .inputRequiredDisabled {
      border-color: #afafaf !important;
      border-left-color: red !important;
    }

    .inputDisabled {
      border-color: #afafaf !important;
    }

    .inputNumber {
      width: 70%;

      input {
        border-left-width: 3.5px;
        border-left-color: red;
        border-radius: 6px;
      }
    }

    .peoplePicker {
      button {
        background: none;
        border: none;
      }
    }

    button {
      background: $ThemePrimeryColor;
      border: 1px solid $ThemePrimeryColor;
    }

    .dropDownStyles {
      width: 70%;
      height: 32px;

      input {
        padding: 2px 5px 3px;
        font-size: 12px;
        width: 100%;
        border: 1px solid $ThemePrimeryColor;
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
        border-radius: initial;
        border-color: $ThemePrimeryColor;
        height: 32px;
        color: #000 !important;
        background-color: #fff;
      }

      button {
        background: $ThemePrimeryColor;
        border: 1px solid $ThemePrimeryColor;
      }
    }

    .dropDownRequired {
      input {
        border-left-width: 3.5px;
        border-left-color: red;
      }
    }

    .dropDownErrorMsg {
      border: 2px solid #ff0000 !important;
    }

    .disabledStyle {
      input {
        border-color: #afafaf !important;
      }

      button {
        background: #afafaf !important;
        border: 1px solid #afafaf !important;
      }
    }

    .disabledDropDownAndBtnImpStyle {
      input {
        border-left-color: red !important;
        border-color: #afafaf;
      }

      button {
        background: #afafaf !important;
        border: 1px solid #afafaf !important;
      }
    }

    .disabledDropDownAndBtnAccountStyle {
      input {
        border-left-color: #afafaf !important;
        border-color: #afafaf;
      }

      button {
        background: #afafaf !important;
        border: 1px solid #afafaf !important;
      }
    }

    .dropDownError {
      input {
        border: 2px solid #ff0000;
      }
    }

    .multiContact {
      width: 70%;
      height: max-content;
      min-height: 57px;
      max-height: 88px;

      input {
        border-radius: 6px;
      }

      button {
        height: 32px;
        width: 32px;
        position: absolute;
        bottom: 7px;
        right: 0;
      }
    }

    .multiPlatform {
      width: 70%;
      height: max-content;
      min-height: 57px;
      max-height: 88px;

      input {
        border-radius: 6px;
        border-left-width: 3.5px;
        border-left-color: red !important;
      }

      button {
        height: 32px;
        width: 32px;
        position: absolute;
        bottom: 7px;
        right: 0;
      }
    }

    .multiPlatformError {
      width: 70%;
      height: max-content;
      min-height: 57px;
      max-height: 88px;

      input {
        border-radius: 6px;
        border: 2px solid rgb(255, 0, 0);
      }

      button {
        height: 32px;
        width: 32px;
        position: absolute;
        bottom: 7px;
        right: 0;
      }
    }

    .textField {
      width: 70%;
      position: relative;
      height: 32px;

      .requiredDesign {
        position: absolute;
        top: 0.2px;
        right: 0px;
        width: 4px;
        height: 32px;
        background-color: #f00;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    .dateField {
      input {
        background: none;
      }
    }

    .textArea {
      resize: none;
      width: 70%;
      border: 1px solid $ThemePrimeryColor;
      font-size: 12px;
      color: #000;
      border-radius: 6px;
      padding: 5px 5px 5px 8px;
    }

    .textAddressAreaDisabled {
      border: 1px solid #afafaf !important;
      border-left-color: #ff0000 !important;
      border-left-width: 3.5px !important;
    }

    .textAreaDisabled {
      border: 1px solid #afafaf !important;
    }

    .textArea[readonly] {
      background-color: #ffffff;
      color: #000000;
      cursor: default;
      box-shadow: none;
    }

    .requiredDesign {
      position: absolute;
      right: 0px;
      width: 4px;
      height: 32px;
      background-color: #f00;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .probabiltyPercentage {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      color: #838383;
      font-size: 12px;
    }

    .addNewChoice {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .addBtn {
      width: 35px;
      min-width: 30px;
      border-radius: 3px;
      border: 1px solid $ThemePrimeryColor;
      background-color: $ThemePrimeryColor;
    }

    .addBtnDisabled {
      border: 1px solid #afafaf;
      background-color: #afafaf;
    }
  }
}

.fileList {
  display: flex;
  align-items: center;
  margin: 0 0px 7px 0;
}
.filNameTag {
  background-color: #f2f2f2;
  color: #363a3c;
  font-weight: 500;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  .filesIconDiv {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding-left: 14px;
  }
}

.reasonButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
